@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/bands/add" method="post">
  <label for="band-name">Band name:</label>
  <input id="band-name" name="band-name" type="text">
  <button type="submit">Add a new Band</button>
</form>
<p><a href="/">Return to Home Page</a></p>
