@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/bands/add" method="post">
  <label for="band-name">Band name:</label>
  <input id="band-name" name="band-name" type="text">
  <button type="submit">Add a new Band</button>
</form>
<div id="navigation">
  <p><a href="/venues">Venues</a></p>
  <p><a href="/bands">Bands</a></p>
  <p><a href="/genres">Genres</a></p>
  <p><a href="/">Home</a></p>
</div>
