@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/genres/add" method="post">
  <label for="genre-name">Genre name:</label>
  <input id="genre-name" name="genre-name" type="text">
  <button type="submit">Add a new Genre</button>
</form>

<div id="navigation">
  <p><a href="/venues">Venues</a></p>
  <p><a href="/bands">Bands</a></p>
  <p><a href="/genres">Genres</a></p>
  <p><a href="/">Home</a></p>
</div>
