@{
  Layout="Shared/_Layout.cshtml";
}
<div id="homePage">
  <h3>Home-Page</h3>
  <p>Here you can view the best metal venues, shows, and genres. <br />Click on the buttons to get started planning your <strong>MOST BRUTAL WEEKEND EVAR</strong></p>
  <p>This is a silly page that serves as a landing point for the various options and pages that encompass this project.</p>
  <p>If you are interested in more information about metal music, please follow the links below:</p>
  <ul>
    <li><a href="https://www.metal-archives.com/">Encyclopaedia Metallum</a></li>
    <li><a href="http://pc-pdx.com/show-guide/filter-by-tag/death">An Actual Show Guide with Real Updates&trade;!</a></li>
    <li><a href="https://www.meetup.com/PDXMetalMeetup/">Metalhead Meetup</a></li>
  </ul>
</div>
<div id="navigation">
  <p><a href="/venues">Venues</a></p>
  <p><a href="/bands">Bands</a></p>
  <p><a href="/genres">Genres</a></p>
</div>
