@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Schweet</h3>
<img src="/Content/img/hairSpin.gif" alt="GIT PITTED" />
<img src="/Content/img/hairSpinSkwizgar.gif" alt="GIT PITTED" />
<img src="/Content/img/randomHairSpin.gif" alt="GIT PITTED" />

<div id="navigation">
  <p><a href="/venues">Venues</a></p>
  <p><a href="/bands">Bands</a></p>
  <p><a href="/genres">Genres</a></p>
  <p><a href="/">Home</a></p>
</div>
